<div class="row">
    <div class="col-md-12">

        <textarea id="chatWindow" class="form-control" rows="10"></textarea>
        <div>
            <label>Message</label>
            <textarea class="form-control" rows="3" id="messageTextBox"></textarea>
            <button id="sendButton" class="btn btn-default" type="button">Send</button>

        </div>
        @section scripts
    {
            @Scripts.Render("~/bundles/jquery.signalR")
        }
    </div>
</div>