<div class="row">
    <div class="col-md-12">

        <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>

        <script type="text/javascript">
            $(function () {
                var chat = $.connection.chat;

                chat.client.addMessage = function (message) {
                    $("#chatWindow").val($("#chatWindow").val() + message + "\n");
                }

                $.connection.hub.start().done(function () {
                    $("#chatWindow").val("Connected\n");
                    $("#sendButton").click(function () {
                        chat.server.send($("#messageTextBox").val());
                        $("#messageTextBox").val("")
                    });
                });
            });
        </script>
        <textarea id="chatWindow" class="form-control" rows="10"></textarea>
        <div>
            <label>Message</label>
            <textarea class="form-control" rows="3" id="messageTextBox"></textarea>
            <button id="sendButton" class="btn btn-default"  type="button">Send</button>

        </div>
</div>
</div>