
<script src="~/Scripts/ba-linkify.js"></script>

<div class="row">

    <!-- Chats widget -->
    <div class="col-md-12">
        <!-- Widget -->
        <div class="widget wlightblue">
            <!-- Widget title -->
            <div class="widget-head">
                <div class="pull-left">Test</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content-chat">
                <!-- Widget content -->
                <div class="padd">

                    <ul class="chats" id="your_div"></ul>

                </div>
            </div>


            <!-- Widget footer -->
            <div class="widget-foot">
                <div class="text-info" id="label">
                    User count.
                    </div>
                    <!-- Chat input box -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="messageTextBox">
                    </div>
                    <button type="submit" class="btn btn-info" id="sendButton">Send</button>


                </div>

        </div>
    </div>
    </div>
    @section scripts{
        <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
        <script src="~/Scripts/signalR.hub.js"></script>
    }
