<div class="row">
    <div class="col-md-12">

        <ul id="discussion" class="list-unstyled"></ul>
        <div>
            <textarea class="form-control" rows="3" id="messageTextBox"></textarea>
            <button id="sendButton" class="btn btn-info" type="button">Send</button>
        </div>
        @section scripts
    {
        <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
        <script src="~/Scripts/signalR.hub.js"></script>
        }
    </div>
</div>